.git
.gitignore
.idea
.vscode
.zed
.fleet
.DS_Store

node_modules
vendor

.env
.env.*
!.env.dokploy.example

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*

docker-compose*.yml
README.md
docs/
tests/
